@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: "Inter", sans-serif;
    margin: 20px;
    text-decoration: none;
}

/* A partir de ACA este codigo permite el estilo de la campanita y las tres rayitas de menu*/

.conteiner1 {
    margin: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

/* Estas son las rayistas del menu */
  .icon-second {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    max-width: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
  }

  .icon-second img {
    width: 40px;
    height: 40px;
  }

  .icon-second:hover{
    cursor: pointer;
  }
  /* Hasta AQUI */
  
  /* Esto representa a la campanita */
  .icon-button {  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;

  }
  
  .icon-button__badge {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none
  }


  /* Hasta AQUI */

  /* Primer TITULO */

  h1 {
    font-size: 70px;
  }
  .titulo {
    color: #761cbc;
    margin: 0;
  }

  /* Lo que esta dentro del media, sera lo que sucedera cuando la pantalla este a menos de 600px*/
  @media (max-width: 600px) {
    h1 {
        color: rgb(0, 0, 0);
        font-size: 30px ;

    }
  }
  /* Ahora la barra de busqueda */

  .search-box {
    background-color: #ffffff;
    width: 90%;
    max-width: 700px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 65px;
    position: relative;
    overflow: hidden;
  }

  .search-box input {
    flex: 1;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
  }

  .search-box button img {
    width: 25px;
  }

  .search-box button {
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
  }

  /* Apartir de aca, se crea la barra para los tipos de eventos */

  .carousel {
    display: flex;
    flex-direction: row;
    height: 80px;
    overflow-x: scroll;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 5px;

  }
  .carousel-item {
    text-decoration: none;
    display: flex;
    flex: 1;
    flex-grow: 1;
    min-width: 30%;
    background-color: #B8F297;
    margin: 0 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;

    cursor: pointer;
    transition: all 0.3s ease;

  }

  .carousel-item a {
    text-decoration: none;
    color: inherit;
  }

  .item1 {
    background-color: #F2D597;
  }
  .item2{
    background-color: #97F2E1;
  }

  .item3{
    background-color: #F297C5;
  }

  /* Tranciciones para cuando el maus este encima de los botones */
.carousel-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0, 1)
}

.carousel-item:active{
    transform: translateY(0);
}


  /* Mediaaaa */
  @media (max-width: 600px){
    .carousel {
      height: 40px;
    }
    
    .titulo2{
      font-size: 20px
    }
    .titulo3{
      font-size: 20px;
    }
  }


  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 40px;
  }

  /* Ahora los titulos que esatan arriba de los elementos */

  .second {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
  }

   /* Ahora las imagenes de los eventos y su contenido */

  .carousel2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-x: scroll;

    padding-top: 5px;
    cursor: pointer;
    
  }
    
  .carousel2-item {
    display: flex;
    height: 500px;
    width: 1000px;
    background-image: url(../image/ConciertoMalu.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 5px;
    border-radius: 15px;
    /* Esto permitira que las imagenes se muestren todo su contenido y no se junten para salir todas en la
    pagina al mismo tiempo */
    flex-shrink: 0;
    justify-content: center;

    cursor: pointer;
    transition: all 0.3s ease;
  }

  .item2-2 {
    background-image: url(../image/Teatro.jpg);
  }

  .item3-2 {
    background-image: url(../image/StandUp.jpeg);
  }

  .item4-2 {
    background-image: url(../image/ComicCONJ.jpeg);
  }

  .carousel2-item:hover{
      transform: translateY(-4px);
      box-shadow: 0 4px 8px rgba(0,0,0,0, 1)
  }
  
  .carousel2-item:active{
      transform: translateY(0);
  }

  /* Cuadrado dentro de la imagen del carrusel */

  .cuadrado {
    width: 960px;
    height: 210px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    /* Efecto de desenfoque */
    backdrop-filter: blur(10px);
    margin-top: 275px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Informacion del evento que estara dentro del cuadrado que esta dentro del evento */

  .info-concierto {
    color: white;
    font-size: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .image img{
    width: 40px;
    height: 40px;
  }

  .price {
    padding-left: 240px;
    padding-right: 120px;
  }

  .price2{
    padding-left: 70px;
    padding-right: 30px;
  }

  .info {
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* Propedades para el texto */

  .info2 {
    font-weight: 200;
  }

  .info4 {
    font-size: 40px;
  }

  /* Para separar el texto de los iconos*/
  .space {
    padding-left: 10px;
  }




  

  /* Cuando esta en la pantalla del celular, el carrusel de eventos */
  
  @media  (max-width: 600px){
    
    .carousel2-item {
      display: flex;
      height: 250px;
      width: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 5px;
      border-radius: 15px;
      /* Esto permitira que las imagenes se muestren todo su contenido y no se junten para salir todas en la
      pagina al mismo tiempo */
      flex-shrink: 0;
      justify-content: center;
    }

    .cuadrado {
      width: 450px;
      height: 100px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      /* Efecto de desenfoque */
      backdrop-filter: blur(10px);
      margin-top: 145px;
      border-radius: 15px;
    }



    .info-concierto {
      color: white;
      font-size: 15px;
      display: flex;
      align-self: center;
      justify-content: center;
    }
  
    .image img{
      width: 20px;
      height: 20px;
    }
  
    .price {
      padding-left: 70px;
      padding-right: 70px;
    }
  
    .price2{
      padding-left: 5px;
      padding-right: 1px;
    }
  
    .info {
      display: flex;
      align-items: center;
  
      padding-top: 3px;
      padding-bottom: 3px;
    }
    /* Propedades para el texto */
  
    .info2 {
      font-weight: 200;
    }
  
    .info4 {
      font-size: 15px;
    }
  
    /* Para separar el texto de los iconos*/
    .space {
      padding-left: 5px;
    }

  }




  