@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

/* QUitar margen y pading por motivos esteticos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*                      IMAGEN DEL EVENTO QUE SE ENCUENTRA DE FONDO            */
/* Dimenciones de la imagen del evento */
.imga img {
  width: 100vw;
  height: 90vh;
  position: static;
}

/* Centrar el contenido */
.conteiner2 {
  display: flex;
  justify-content: center;

  align-items: center;
}
/*          HASTA AQUI     */

/*          CUADRADO QUE SE ENCUENTRA ENCIMA DE LA IMAGEN ANTERIOR */
.cuadrado {
  width: 1850px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: -200px;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.18);
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.18);

  display: flex;
  /* Para que los elementos se ubiquen de manera vertical */
  flex-direction: column;

}

.info1-2 img {
  width: 40px;
  height: 40px;
}

.info1-2 {
  display: flex;
  align-items: center;
}

.infoo {
  font-size: 40px;
  margin: 8px;
  padding-left: 10px;
}

.space2 {
  padding-left: 10px;
}

.info1 {
  font-size: 50px;
  font-weight: 600;
}

.info2-2 {
  font-size: 50px;
}

.info2 {
  font-size: 50px;
  font-weight: 600;
  color: #761cbc;
}

.par {
  display: flex;
  flex-direction: row;
}

.dentrocuadrado {
  margin-top: 10px;
}

.imagen-conteiner2{
  padding-left: 20px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.people img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  padding-left: -15px;
}

.text {
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 50px;
}

@media (max-width: 600px) {
  .imga img {
    width: 100vw;
    height: 30vh;
  }

  .cuadrado {
    width: 400px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: -100px;
  }

  .info1-2 img {
    width: 20px;
    height: 20px;
  }

  .info1 {
    font-size: 15px;
  }

  .info2-2 {
    font-size: 15px;

  }

  .infoo {
    font-size: 20px;
    margin: 3px;
    padding-left: 20px;
  }

  .info2 {
    padding-left: 10px;
    font-size: 20px;
  }

  .people img{
    width: 40px;
    height: 40px;
  }

  .text {
    font-size: 20px;
  }

}

/*       DESCRIPCION DEL EVENTO SELECCIONADO          */

.conteiner3 {
  margin: 18px;
}

.title-description {
  font-size: 50px;
  font-weight: 600;
}

.textt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número de líneas visibles inicialmente */
    overflow: hidden;
    color: #706D6D;
    font-size: 30px;
}

.textt.expanded {
    -webkit-line-clamp: unset; /* Muestra todo el texto */
}

.read-more-btn {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #761cbc;
    margin-top: 10px;
    padding: 11px;
    text-align: left;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.read-more-btn:hover {
  transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0, 1)
}

.read-more-btn:active{
  transform: translateY(0);
}

@media (max-width: 600px) {
  .title-description {
    font-size: 30px;
    font-weight: 600;
  }

  .textt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* El nuemro de lineas visibles antes del "read more"*/
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #706D6D;
    font-size: 20px;
}
}

/* UBICACION DEL EVENTO SELECIONADO */

.conteiner4{
  margin: 18px;
}

.ubication1 img {
  width: 420px;
  height: 300px;
  border-radius: 15px;
}

/*          BARRA DE COMPRA              */

.cuadradoo {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  bottom: 0;
  padding: 0px 10px;
  background-color: white;
}

.cuadradoo {
  display: flex;
  justify-content: center;
} 

.into-into-cuadradoo1 {
  padding-right: 200px;
}

.text1-into-cuadradoo { 
  font-size: 15px;
}

.text2-into-cuadradoo {
  font-size: 25px;
  font-weight: 600;
}

/*        BOTON PARA IR AL TICKET          */

.text3-into-cuadradoo {
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #761cbc;
  border-radius: 10px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.text3-into-cuadradoo:hover {
  transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0, 1)
}

.text3-into-cuadradoo:active{
  transform: translateY(0);
}

.text3-into-cuadradoo a {
  text-decoration: none;
  color: white;
}

